graft src
prune src/foroyskt/__pycache__
prune src/foroyskt/.mypy_cache
prune test
exclude src/foroyskt/_bin.cpp
include src/foroyskt/resources/ordalisti-all.dawg.bin
include src/foroyskt/resources/ordalisti-prefixes.dawg.bin
include src/foroyskt/resources/ordalisti-suffixes.dawg.bin
include src/foroyskt/resources/compressed.bin
exclude src/foroyskt/resources/*.csv
exclude src/foroyskt/resources/*.txt
exclude src/foroyskt/resources/KRISTINsnid.*
exclude src/foroyskt/*.o
exclude src/foroyskt/*.so
